.cart{
    font-size: medium;
}
input[type="text"],input[type="number"],input[type="email"],input[type="password"]
{
    font-size: medium;
}
textarea[type="address"]{
    font-size: medium;
}
button[type="submit"]{
    font-size: medium;
}
#about{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
.page-wrap {
    min-height: 100vh;
}
.sf-intro-hd{
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
}
.sf-intro-bd{
    font-family: 'Eczar', serif;
    font-weight: 400;
}
.label-top {
    position: absolute;
    background-color:  #f7810a;
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
 .fs-6{
    font-family: 'Mukta', sans-serif;
 }

 @media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
 }

 a{
     text-decoration: none;
 }